body {
    width: 100%;
    height: 100%;
    margin: 0 0;
}

main {
    width: 100%;
    height: 100%;
}

#root {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

#canvBox {
    position: relative;
    text-align: center;
    padding: 0 0;
    width: 100%;
    height: 100%;
    flex: 4;
}

#canvBox p {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 2em;
    justify-content: center;
    z-index: 1;
}

#canvas {
    height: 100%;
    width: 100%;
    background-color: white;
}

#column {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
}

#upper {
    position: relative;
    flex: 1;
    background-color: rgba(0, 202, 0, 0.3);
}

#lower {
    position: relative;
    flex: 5;
}


button {
    float: left;
    width: 50%;
    height: 50px;
}

#column p {
    opacity: 0.7;
}


/* SWITCH BUTTON */

.container {
    left: 50%;
    margin: 10px 0;
}

.toggle-btn {
    left: 50%;
    width: 150px;
    height: 40px;
    background: rgba(223, 18, 18, 0.75);
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
    content: "yes";
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.toggle-btn > p {
    text-align: center;
    position: relative;
    top: -27px;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active > p {
    color: white;
}

.toggle-btn > .inner-circle {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active {
    background: rgba(2, 221, 2, 0.75);
}

.toggle-btn.active > .inner-circle {
    margin-left: 110px;
}

/* SWITCH BUTTON */


/* SLIDER */

.slidecontainer {
    width: 90%; /* Width of the outside container */
    text-align: center;
    position: relative;
    height: 40px;  
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

.slidecontainer > p {
    color: black;
    position: relative;
    top: -40px;
    pointer-events: none;
}


  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 40px; /* Specified height */
    background: rgb(237, 237, 237); /* Grey background */
    border-radius: 100px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 5px;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    border-radius: 50%;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: rgb(0, 0, 0); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    border-radius: 50%;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: rgb(0, 0, 0); /* Green background */
    border: none;
    cursor: pointer; /* Cursor on hover */
  }

/* SLIDER */


/* DROPDOWN MENU */

#dropdown {
    position: relative;
    width: 90%;    
    height: 40px;
    margin-top: 10px;
    background: rgb(237, 237, 237);
    opacity: 0.7;
    border-radius: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#dropdown > .btn {
    background: none;
    box-shadow: none;
    padding: 0 15px;
    height: 40px;
    border: none;
    color: black;
    text-decoration: none;
}

.btn textarea {
    text-decoration: none;
    font-family: inherit;
}

.dropdown-menu {
    transition: all 300ms ease-in-out;
}